<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.define.mapper.DailyMapper">
    <resultMap type="DailyVo" id="DailyMap">
        <id column="user_code" property="user_code"   />
        <id column="date" property="date"   />
        <result column="home" property="home"   />
        <result column="school" property="school"   />
        <result column="hospital" property="hospital"   />
        <result column="summary" property="summary"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- INSERT -->
    <insert id="insertDaily" parameterType="com.example.define.vo.DailyVo">
        INSERT INTO dailywrite
            (user_code, date, home, school, hospital, summary, state)
        VALUES (#{user_code}, #{date}, #{home},
                #{school}, #{hospital}, #{summary}, #{state})
    </insert>

    <!-- SELECT -->
    <select id="getDailyByUserCodeAndDate" resultType="com.example.define.vo.DailyVo">
        SELECT *
        FROM dailywrite
        WHERE user_code = #{user_code} AND date = #{date}
    </select>

    <select id="getDailyByUserCode" resultType="com.example.define.vo.DailyVo">
        SELECT *
        FROM dailywrite
        WHERE user_code = #{user_code}
    </select>

    <select id="getStateByUserCodeAndMonth" resultType="map">
        SELECT date, state
        FROM dailywrite
        WHERE user_code = #{user_code} AND date LIKE CONCAT(#{month}, '%')
    </select>

    <select id="getDailyByPeriod" resultType="com.example.define.vo.DailyVo">
        SELECT *
        FROM dailywrite
        WHERE user_code = #{user_code} AND date BETWEEN #{start} AND #{end}
    </select>

    <select id="getConsecutiveDays" resultType="java.lang.Integer">
        with datewithgap as (
            select date, row_number() over (order by date) as row_num, datediff(date, '2024-01-01') as date_diff
            from dailywrite
            where user_code = #{user_code})
        select count(*) as consecutive_days
        from datewithgap
        where (date_diff - row_num) = (
            select (date_diff - row_num)
            from datewithgap
            where date = (select max(date) from dailywrite where user_code = #{user_code}));
    </select>

    <!-- UPDATE -->
    <update id="updateDaily" parameterType="com.example.define.vo.DailyVo">
        UPDATE dailywrite
        SET home = #{home},
            school = #{school},
            hospital = #{hospital},
            summary = #{summary}
        WHERE user_code = #{user_code} AND date = #{date}
    </update>

    <!-- DELETE -->
    <delete id="deleteDaily">
        DELETE
        FROM dailywrite
        WHERE user_code = #{user_code} AND date = #{date}
    </delete>
</mapper>