<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.define.mapper.DetailMapper">
    <resultMap type="DetailVo" id="DetailMap">
        <id column="date" property="date"   />
        <id column="user_code" property="userCode"   />
        <result column="detail_home" property="detail_home"   />
        <result column="detail_school" property="detail_school"   />
        <result column="detail_hospital" property="detail_hospital"   />
    </resultMap>

    <insert id="insertDetail" parameterType="com.example.define.vo.DetailVo">
        INSERT INTO detail
            (date, user_code, detail_home, detail_school, detail_hospital)
        VALUES (#{date}, #{userCode}, #{detail_home},
                #{detail_school}, #{detail_hospital})
    </insert>

    <select id="getDetailByUserCodeAndDate" resultType="com.example.define.vo.DetailVo">
        SELECT *
        FROM detail
        WHERE user_code = #{userCode} AND date = #{date}
    </select>

    <select id="getDetailByDate" resultType="com.example.define.vo.DetailVo">
        SELECT *
        FROM detail
        WHERE date = #{date}
    </select>

    <select id="getDetailByUserCode" resultType="com.example.define.vo.DetailVo">
        SELECT *
        FROM detail
        WHERE user_code = #{userCode}
    </select>

</mapper>