<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.define.mapper.SxCheckMapper">
    <resultMap type="SxCheckVo" id="SxCheckMap">
        <id column="user_code" property="user_code" />
        <id column="date" property="date" />
        <result column="checklist" property="checklist" typeHandler="com.example.define.handler.JsonTypeHandler" /> <!-- JsonTypeHandler 명시 -->
    </resultMap>

    <!-- INSERT -->
    <insert id="insertSx" parameterType="com.example.define.vo.SxCheckVo">
        INSERT INTO symptomcheck
            (user_code, date, checklist)
        VALUES (#{user_code}, #{date}, #{checklist})
    </insert>

    <!-- SELECT -->
    <select id="getSxByUserCodeAndDate" resultType="com.example.define.vo.SxCheckVo">
        SELECT *
        FROM symptomcheck
        WHERE user_code = #{user_code} AND date = #{date}
    </select>

    <!-- 월 별 증상 체크 카운트 -->
    <select id="getChecklistFrequencyByMonth" resultType="map">
        SELECT checklist_item, COUNT(*) AS frequency
        FROM (
                 SELECT JSON_UNQUOTE(JSON_EXTRACT(checklist, CONCAT('$[', numbers.n, ']'))) AS checklist_item
                 FROM symptomcheck
                          JOIN (
                     SELECT @row := @row + 1 AS n
                     FROM (SELECT 0 UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
                           UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) a,
                          (SELECT 0 UNION ALL SELECT 1 UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4
                           UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9) b,
                          (SELECT @row := -1) r
                 ) AS numbers
                               ON JSON_LENGTH(checklist) > numbers.n
                 WHERE user_code = #{user_code} AND DATE_FORMAT(date, '%Y-%m') = #{month}
             ) AS checklist_items
        GROUP BY checklist_item
        ORDER BY frequency DESC;
    </select>


    <!-- DELETE -->
    <delete id="deleteSx">
        DELETE
        FROM symptomcheck
        WHERE user_code = #{user_code} AND date = #{date}
    </delete>

</mapper>