<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.define.mapper.UserMapper">
    <resultMap type="UserDto" id="UserMap">
        <id column="user_code" property="user_code"   />
        <result column="kakao_code" property="kakao_code"   />
    </resultMap>

    <!-- INSERT -->
    <insert id="insertUser" parameterType="com.example.define.dto.UserResponseDto">
        INSERT INTO user
            (user_code, kakao_code)
        VALUES (#{user_code}, #{kakao_code})
    </insert>

    <!-- SELECT -->
    <select id="findUserByKaKaoCode" resultType="com.example.define.dto.UserResponseDto">
        SELECT *
        FROM user
        WHERE kakao_code = #{kakao_code}
    </select>

    <!-- UPDATE -->
    <update id="updateUser" parameterType="com.example.define.dto.UserResponseDto">
        UPDATE userinfo
        SET user_name = #{user_name},
            child_name = #{child_name},
            birth = #{birth},
            sex = #{sex}
        WHERE user_code = #{user_code}
    </update>

</mapper>